.navigation {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }

    background-color: $dark-blue;

    .main-navigation {
        position: relative;
    }

    .main-navigation > .container > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .nav-item {
        flex: 1;
        text-align: center;

        > a {
            display: block;
            position: relative;
            padding: 19px 0 18px;
            color: $text-white;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 1;
            transition: background-color .2s ease;
            height: 100%;

            .icon-apps {
                display: block;
                padding-bottom: 10px;
                text-align: center;

                svg {
                    width: 23px;
                    height: 23px;
                    fill: currentColor;
                }
            }
            small {
                display: block;
                font-size: 0.625rem;
                padding-bottom: 1px;
            }
            p {
                display: block;
                margin: 0;
                font-size: 1.125rem;
            }
        }

        &.software {
            @include nav-theme($soft-yellow);
        }
        &.it {
            @include nav-theme($it-blue);
        }
        &.digital {
            @include nav-theme($dig-green);
        }
        &.telecoms {
            @include nav-theme($tel-red);
        }
        &.web {
            @include nav-theme($web-purple);
        }
        &.security {
            @include nav-theme($sec-pink);
        }
        &.developer-course {
            @include nav-theme($dev-orange);
        }

        > a::after {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 30px;
            z-index: 10;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            background-color: transparent;
        }
        
        .sub-menu-banner {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            top: 100%;
            z-index: 5;
            padding: 30px 0;
        }
        &:hover .sub-menu-banner {
            display: block;
        }

        .sub-menu {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: left;

            .sub-menu-banner-title {
                grid-column: 1 / -1;
                margin: 0 0 10px;
                padding-bottom: 15px;

                color: $text-white;
                font-size: 2rem;
                font-weight: 500;
                text-align: left;
            }
        }

        .nav-item--sub-menu {
            text-align: left;

            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;

                padding: 10px 15px 10px 0;

                color: $text-white;
                text-decoration: none;

                .link-icon-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 25px;

                    svg {
                        width: 1.2em;
                        height: 1.2em;
                        fill: $text-white;
                    }
                }
                .link-text {
                    font-size: 1.2rem;
                    line-height: 1.3;
                    text-transform: capitalize;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}